.editorconfig
.gitattributes
.github/
.jsdoc.conf
.ncurc.json
.nyc_output/
.travis.yml
.vscode/
*.tgz
ava.config.js
coverage/
docs/
eslint.config.js
node_modules/
npm-debug.log
test/
tmp/
tsconfig.json
